*{
margin: 0;
padding: 0;
} 



body{
    display:flex;
  background-color: aliceblue;
} 


.cajon-principal{
    background-color:rgb(255, 253, 250);
    height: 70%;
    width: 70%;
    display: grid;
    justify-content: center; 
    border-color: black;
 
}

.cajon{
  display: flex;
  background-color: rgb(255, 255, 255); 
  width:50vh;
  height:40vh;
  border-radius:5%; 
  border: 3px solid black;
} 

.cajon2{
  display: flex;
  background-color: rgb(255, 255, 255); 
  width:50vh;
  height:40vh;
  border-radius: 5%;
    border: 3px solid black;

}

.cajon3{
  display: flex;
  background-color: rgb(255, 255, 255); 
  width:50vh;
  height:40vh;
  border-radius:5%;
    border: 3px solid black;

}
.cajon4{
  display: flex;
  background-color: rgb(255, 255, 255); 
  width:50vh;
  height:40vh; 
  border-radius: 5%; 
    border: 3px solid black;

} 
.cajon5{
  display: flex;
  background-color: rgb(255, 255, 255); 
  width:12vh;
  height:4vh;
    border: 3px solid black;

} 
.cajon6{
  display: flex;
  background-color: rgb(255, 255, 255); 
  width:20vh;
  height:7vh;
    border: 3px solid black;

} 

.tituls{
  color: rgb(47, 1, 112);
  font-size: 8vh;
} 

tit{
  text-align:center;  

} 
.cajon-principal .material-symbols-outlined1{

font-size: 200px;
color: rgb(7, 7, 113);
}
.cajon-principal .material-symbols-outlined2{

font-size: 200px;
color: rgb(7, 172, 7);
}
.cajon-principal .material-symbols-outlined3{

font-size: 200px;
color: rgb(107, 16, 141);
}
.cajon-principal .material-symbols-outlined4{

font-size: 200px;
color: rgb(166, 3, 3);
}
.cajon-principal .material-symbols-outlined{

font-size: 200px;
color: rgb(7, 7, 113);
}