*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    min-height: 100vh;
}
.contenedor-navegacion{
    width: 20%;
    min-height: 100vh;
    background-color: #1C4694;
}
.con-logo{
    display: flex;
    justify-content: center;
    width: 80%;
    padding: 5px;
    gap: 5px;
}
.titulo-icono{
    font-size: 0.6rem;
    color: white;
}
.titulo-principal{
    font-size: 1.2rem;
    color: white;
    text-align: center;
}
.con-iconos-lista ul{
    display: grid;
    justify-content: center;
    align-items: center;
    row-gap: 3%;
}
.con-iconos-lista li{
    display: flex;
    align-items: center;
    gap: 5%;
    padding: 5px;
    border-radius: 5px;
}
.con-iconos-lista li:hover{
    background-color: #0059ff;
}
.con-iconos-lista li{
    list-style: none;
}

.con-iconos-lista a{
    text-decoration: none;
    color: white;
}
.con-iconos-lista img{
    width: 22%;
}
@media (max-width: 768px) {
    @

    .contenedor-navegacion{
        width: 100%;
        height: 50px;
        min-height: 50px;
    }

    .con-logo{
        padding: 2%;
        gap: 5px;
    }

    .con-iconos-lista ul{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .con-iconos-lista li{
        display: flex;
        flex-wrap: wrap;
    }
}
@media (max-width:480px){
    body{
        display:block !important;
    }

       .contenedor-navegacion{
        width:100% !important;
        min-height:auto !important;
    }


    .con-logo{
        width:100%;
        padding:10px;
        display:flex;
        justify-content:center;
    }

    .con-iconos-lista{
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
        gap:10px;
    }

    .con-iconos-lista ul{
        display:flex;
        flex-wrap:wrap;
        gap:10px;
        padding:0;
    }

    .con-iconos-lista li{
        display:flex;
        align-items:center;
    }

}